<?xml version="1.0" encoding="utf-8"?>

<robot name="carbonite" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:arg name="use_ros2_control" default="true" />
  <xacro:arg name="use_gazebo" default="false" />
  

  <xacro:include filename="carbonite_core.xacro" />


  <xacro:if value="$(arg use_ros2_control)">
    <xacro:include filename="ros2_control.xacro" />
  </xacro:if>

  <xacro:if value="$(arg use_gazebo)">
    <xacro:include filename="gazebo_plugin.xacro" />
  </xacro:if>
  
</robot>